form {
    display: flex;
    flex-direction: column;
}

button {
    margin: 20px 15px 0px 0px;
  /* margin-top: 20px; ou pode fazer o modelo acima, vai andando 
   margin-right: 15px;*      no sentido horário */    
}